
body  {
   background-color: #F3ECE8;
   height: 100%;
}

   
/*-------NAVIGATION---------*/

nav {
    width: 100%;
    margin-bottom: 15px;
}


.navbar a {
    font-family: 'Courier New', Courier, monospace;
    color: #F3ECE8!important;
    text-decoration: none!important;
    font-size: 20px;
    margin-right:20px ;
    text-shadow: 2px 2px 8px black;
 }
 .navbar a:hover {
    background-color: #F3ECE8;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    color: #1F2027!important;
    border-radius: 2px;
    text-shadow: none;
 }

.navbar-brand {
    font-family: 'Rozha One', serif!important;
    font-size: 40px!important;
    text-shadow: 2px 2px 8px black;
   
}


 /*-------------FOOTER---------*/
footer {
background: url("../images/olives.jpg");
 background-size: cover;
color: #F3ECE8;
text-align: center;
text-shadow: 2px 2px 8px black;
}
footer h5 {
    font-family: 'Rozha One', serif;
    font-size: 25px;
    padding-top: 10px;
}

footer a {
    color: #F3ECE8!important;
}

/*-------------INDEX.HTML------------*/


#hero-outer {
    height:700px;
    width: 100%;
    text-align: center;
}

#hero-home {
   
    background: url("../images/kitchen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

.enter-button {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border:none;
    font-size: 45px;
    font-family: 'Rozha One', serif;
    color: #F3ECE8; 
    text-shadow: 2px 2px 8px black;
}

.enter-button:hover {
    background-color: #F3ECE8!important;
    border: solid 2px #F3ECE8!important;
    color: #1F2027!important;
    border-radius: 2px;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    padding: 10px 20px;
    text-shadow: none;

}

/*------ABOUT PAGE-------*/

.about-bg {
    background: url("../images/lettuce.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     height:900px;
    width: 100%;
    overflow: hidden;
    position: relative;

}