body  {
   background-color: #F3ECE8;
   height: 100%;
}

   
/*-------NAVIGATION---------*/

nav {
    width: 100%;
}

.navbar a{
     font-family: 'Courier New', Courier, monospace;
    color: #F3ECE8!important;
    text-decoration: none!important;

 }



 /*-------------FOOTER---------*/
footer {

  background-image: url("../assets/images/kitchen.jpg");
        background-repeat:no-repeat;
background-size:cover;
  
    
}

/*-------------INDEX.HTML------------*/
#hero-home {
    overflow: hidden;
    position: relative;
    padding:30%;
     background: url("../images/kitchen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
   
    
}
.enter-button {
    background-color: transparent;
    border: none;
    color: #F3ECE8;
    margin: auto;
    display: flex;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    
}
.enter-button:hover {
    background-color: #F3ECE8;
    border: solid 2px #F3ECE8;
    transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    padding: 10px 20px;
    color: #1F2027;
    border-radius: 2px;

}